
<script>

var WHEIGHT = $(window).height();
var WWIDTH = $(window).width();

function init(event, ui) {
  $("#centerContainer").center();
}

$(document).on("pageshow", init);


</script>

<div id="centerContainer" style="position: absolute; text-align:center; width: 100%; margin: 0 auto 0 auto;">
	<h1>路殺紀錄</h1>
	<fb:login-button size="xlarge" scope="public_profile,email,publish_actions" onlogin="checkLoginState();"></fb:login-button>
</div>
