<div id="home" data-role="page">
	<div data-role="main" class="ui-content" data-theme="a" style="margin-top: 5px;">
		<div id="mainContainer">
			<p id="lblNoPublishAction" class="text-center med-font" style="margin: 0 20px 0 20px;">目前無法上傳，請重新登入並授予此App在Facebook貼文的權限</p>
			<a id="btnTopReporters" href="/stats" class="ui-btn ui-btn-a white-font pastel-green utton-center">即時統計</a>
			<a id="btnLogout" href="#" class="ui-btn ui-btn-a white-font pastel-green utton-center">登出</a>
			<p class="text-center small-font">v20150417.1</p>
		</div>
	</div>
</div>

