(function() {

/*
  jQuery(function() {
    $('body').prepend('<div id="fb-root"></div>');
    return $.ajax({
      url: "" + window.location.protocol + "//connect.facebook.net/en_US/sdk.js",
      dataType: 'script',
      cache: true,
      version: 'v2.2'
    });
  });
*/

(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  window.fbAsyncInit = function() {
    FB.init({
      appId: '<%= ENV["FACEBOOK_APP_ID"] %>',
      cookie: true,
      version: 'v2.2'
    });

    $(document).on("click", "#btnSignInFacebook", function(e) {
      e.preventDefault();
      return FB.login(function(response) {
        if (response.authResponse) {
		  console.log(authResponse.grantedScopes);        
          return window.location = '/auth/facebook/callback';
        }
      }, {scope: 'publish_actions', return_scopes: true});
    });

    return $(document).on("click", "#btnSignOutFacebook", function(e) {
      FB.getLoginStatus(function(response) {
        if (response.authResponse) {
          return FB.logout();
        }
      });
      return true;
    });
  };

  var version = 5;

}).call(this);
