<div id="stats" data-role="page">
	<div data-role="header" data-position="fixed">
		<h1>即時統計</h1>
	</div>
	<h3 class="ui-bar ui-bar-a">累計路殺事件數量</h3>
	<div id="reportCount" style="font-size: 80px; text-align: center; color: pink"></div>
	<h3 class="ui-bar ui-bar-a">前十位發現最多路殺事件的社員</h3>
	<ul class="topReportersListView" data-role="listview">
			<li class="topReporterRow" style="display: none"><img class="topReporterProfilePicture profile-picture" /><span class="topReporterName top-reporter-text" ></span><span class="topReporterReportCount ui-li-count"></span></li>
			<li class="topReporterRow" style="display: none"><img class="topReporterProfilePicture profile-picture" /><span class="topReporterName top-reporter-text" ></span><span class="topReporterReportCount ui-li-count"></span></li>
			<li class="topReporterRow" style="display: none"><img class="topReporterProfilePicture profile-picture" /><span class="topReporterName top-reporter-text" ></span><span class="topReporterReportCount ui-li-count"></span></li>
			<li class="topReporterRow" style="display: none"><img class="topReporterProfilePicture profile-picture" /><span class="topReporterName top-reporter-text" ></span><span class="topReporterReportCount ui-li-count"></span></li>
			<li class="topReporterRow" style="display: none"><img class="topReporterProfilePicture profile-picture" /><span class="topReporterName top-reporter-text" ></span><span class="topReporterReportCount ui-li-count"></span></li>
			<li class="topReporterRow" style="display: none"><img class="topReporterProfilePicture profile-picture" /><span class="topReporterName top-reporter-text" ></span><span class="topReporterReportCount ui-li-count"></span></li>
			<li class="topReporterRow" style="display: none"><img class="topReporterProfilePicture profile-picture" /><span class="topReporterName top-reporter-text" ></span><span class="topReporterReportCount ui-li-count"></span></li>
			<li class="topReporterRow" style="display: none"><img class="topReporterProfilePicture profile-picture" /><span class="topReporterName top-reporter-text" ></span><span class="topReporterReportCount ui-li-count"></span></li>
			<li class="topReporterRow" style="display: none"><img class="topReporterProfilePicture profile-picture" /><span class="topReporterName top-reporter-text" ></span><span class="topReporterReportCount ui-li-count"></span></li>
			<li class="topReporterRow" style="display: none"><img class="topReporterProfilePicture profile-picture" /><span class="topReporterName top-reporter-text" ></span><span class="topReporterReportCount ui-li-count"></span></li>
	</ul>
	<h3 class="ui-bar ui-bar-a">資料庫中最多路殺事件的城市</h3>
	<ul class="topCitiesListView" data-role="listview">
			<li class="topCityRow" style="display: none"><p class="topCityName top-city-text"></p><span class="topCityReportCount ui-li-count"></span></li>
			<li class="topCityRow" style="display: none"><p class="topCityName top-city-text"></p><span class="topCityReportCount ui-li-count"></span></li>
			<li class="topCityRow" style="display: none"><p class="topCityName top-city-text"></p><span class="topCityReportCount ui-li-count"></span></li>
			<li class="topCityRow" style="display: none"><p class="topCityName top-city-text"></p><span class="topCityReportCount ui-li-count"></span></li>
			<li class="topCityRow" style="display: none"><p class="topCityName top-city-text"></p><span class="topCityReportCount ui-li-count"></span></li>
			<li class="topCityRow" style="display: none"><p class="topCityName top-city-text"></p><span class="topCityReportCount ui-li-count"></span></li>
			<li class="topCityRow" style="display: none"><p class="topCityName top-city-text"></p><span class="topCityReportCount ui-li-count"></span></li>
			<li class="topCityRow" style="display: none"><p class="topCityName top-city-text"></p><span class="topCityReportCount ui-li-count"></span></li>
			<li class="topCityRow" style="display: none"><p class="topCityName top-city-text"></p><span class="topCityReportCount ui-li-count"></span></li>
			<li class="topCityRow" style="display: none"><p class="topCityName top-city-text"></p><span class="topCityReportCount ui-li-count"></span></li>
	</ul>
	<h3 class="ui-bar ui-bar-a">路殺地圖</h3>
	<div id="regions_div" style="width: 100%;"></div>	
</div>

